body {
  font-family: sans-serif, ;
  margin: 0 50px;
  background-color: #0b3942;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color:antiquewhite;
  font-weight: 600;
  letter-spacing: 2px;
}

.app {
  background-image: url('./img/bg.jpg');
  background-size: cover;
  width: 300px;
  height: 500px;
  border: 1px solid #f1f4f4;
  border-radius: 10px;
  padding: 15px;
  overflow-y: scroll;
}

.app::-webkit-scrollbar {
  width: 0 !important;
}

#addNew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#f95e05e4;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  color:antiquewhite;
  font-weight: 500;
  border: 2px solid #f8f8f8;
}

.fa-plus {
  padding: 3px;
  border-radius: 3px;
}

#tasks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 14px;
}

#tasks div {
  border: 2px solid #f8f8f8;
  color:antiquewhite;
  background-color:#f95e05e4;
  border-radius: 6px;
  padding: 5px;
  display: grid;
  gap: 4px;
}

#tasks div .options {
  justify-self: right;
  display: flex;
  gap: 20px;
}
.form-control{
  border: 2px solid #f8f8f8;
  color:antiquewhite;
  background-color:#f95e05e4;
  font-size: 20px;
  letter-spacing: 1px;
}

.modal-content{
  background-color: #0b3942;
  border: 1px solid #f1f4f4;
}

#tasks div .options i {
  cursor: pointer;
}

#msg {
  color: red;
}